<!doctype html>
<title>Link Lotto</title>
<section class="content">
  <form action="create_route" method = "POST">
  	  <p>Mapping Name <input type = "text" name = "Name" /></p>
      <p>
      	URL1 
      	<input type="text" name="FirstURL" value="google.com"/> 
      	<input type="number" name="FirstURLPercent" min="1" max="99" value="50" id="FirstURLPercent" onchange="onChange1()">
      </p>
      <p> 
      	URL2 
      	<input type="text" name="SecondURL" value="https://www.youtube.com/watch?v=m1yWUWhamj4"/>
      	<input type="number" name="SecondURLPercent" min="1" max="99" value="50" id="SecondURLPercent" onchange="onChange2()">
      </p>
      <p><input type = "submit" value = "submit" /></p>
  </form>
  <script>
  	function onChange1() {
	  var x = document.getElementById("FirstURLPercent").value;
	  document.getElementById("SecondURLPercent").value = 100 - x;
	}
	function onChange2() {
	  var x = document.getElementById("SecondURLPercent").value;
	  document.getElementById("FirstURLPercent").value = 100 - x;
	}
  </script>
</section>

